.projectList ul{
    padding-left: 20px;
}
  
.projectList ul li {
    list-style-type: none;
    border-bottom: 1px solid #999;
    padding: 10px 5px;  
    cursor: pointer;
}
  
.projectList ul li:hover {
    background-color: rgb(129, 168, 218, 0.4);
    color: rgb(0, 0, 0);
    list-style-type: none;
}
